.container {
  background-image: linear-gradient(to right bottom, #36236f, #4a287f, #602c8f, #772e9d, #8f30ab, #b526a4, #d61b9a, #f2198c, #ff3e65, #ff6941, #fc9220, #e3b712);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 50% 50% 50% 50% / 30% 70% 30% 70%
}
img {
  width: 200px;
  padding-bottom: 30px;
}
.container .loader {
  height: 50px;
  width: fit-content;
  display: flex;
  transform: rotate(180deg)
}
.container .loader span:nth-child(20) {
  animation-delay: 0.8s;
}
.container .loader span:nth-child(19) {
  animation-delay: 0.9s;
}
.container .loader span:nth-child(18) {
  animation-delay: 1s;
}
.container .loader span:nth-child(17) {
  animation-delay: 1.1s;
}
.container .loader span:nth-child(16) {
  animation-delay: 1.2s;
}
.container .loader span:nth-child(15) {
  animation-delay: 1.3s;
}
.container .loader span:nth-child(14) {
  animation-delay: 1.4s;
}
.container .loader span:nth-child(13) {
  animation-delay: 1.5s;
}
.container .loader span:nth-child(12) {
  animation-delay: 1.6s;
}
.container .loader span:nth-child(11) {
  animation-delay: 1.7s;
}
.container .loader span:nth-child(10) {
  animation-delay: 1.8s;
}
.container .loader span:nth-child(9) {
  animation-delay: 1.9s;
}
.container .loader span:nth-child(8) {
  animation-delay: 2s;
}
.container .loader span:nth-child(7) {
  animation-delay: 2.1s;
}
.container .loader span:nth-child(6) {
  animation-delay: 2.2s;
}
.container .loader span:nth-child(5) {
  animation-delay: 2.3s;
}
.container .loader span:nth-child(4) {
  animation-delay: 2.4s;
}
.container .loader span:nth-child(3) {
  animation-delay: 2.5s;
}
.container .loader span:nth-child(2) {
  animation-delay: 2.6s;
}
.container .loader span:nth-child(1) {
  animation-delay: 2.8s;
}
.container .loader span {
  display: block;
  height: 0;
  background: #fff;
  margin: 0 4px;
  width: 4px;
  height: 100%;
  animation: line 1s ease infinite;
}
@keyframes line {
  0%, 100% {
    height: 100%;
  }
  50% {
    height: 40%;
  }
}